// Global Variables
@use './colors' as *;
@use './typography' as *;
@use './spacing' as *;

// Container
$container-max-width: 1280px;
$container-padding: $spacing-4;

// Transitions
$transition-fast: 150ms;
$transition-base: 200ms;
$transition-slow: 300ms;
$transition-slower: 500ms;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

// Header
$header-height: 64px;

// Footer
$footer-height: 200px;

