.form-card {
  margin: 0 auto;
}

.sales-plan-form {
  width: 100%;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.app-form-actions {
  display: flex;
  gap: 1rem;
  width: 100%;

  &.app-form-actions--horizontal {
    justify-content: flex-end;
  }
}

