// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

// Import global styles
@use './styles/variables' as *;
@use './styles/mixins' as *;
@use './styles/colors' as *;
@use './styles/forms' as *;
@use './styles/mat.override' as *;
@use './styles/browser-reset' as *;

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Angular Material Theme Configuration */
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* Application-specific body styles */
body {
  background-color: $bg-color !important;
  color: var(--mat-sys-on-surface) !important;
  font: var(--mat-sys-body-medium);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Layout */
html, body { 
  height: 100%; 
}
